.container {
    display: flex;
    flex-wrap: wrap;
}
img {
    width: 400px;
    height: 300px;
    margin: 10px;
}

h1 {
    font-family: fantasy;
    border-bottom: 2px solid pink;
    border-right: 2px solid pink;
    width: 400px;
    text-align: center;
}