/* ID selector */
#page {
    background-image: url(../images/bgpic.jpg);
    background-color: thistle;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 22%;

}

/* class selector */
.copy {
    color: #134513;
}

/* element selector */
h1 {
    text-align: center;
    color: #edfafd;
    cursor: pointer;    /*display hand cursor on mouse hover of h1*/
    border: 5px solid rgba(159, 238, 159, 0.5); 
    line-height: 170%;
}

li {
    color: #fbb;
    display: inline-block;  /* display li elements in single line */
    font-size: 1.2rem;
}

/* Descendant selector [nested] */
/*applies to all <a> tags inside <li>*/
li a {
    color: #9a94eb;
}

/* Adjacent sibling selector */
/* Selects matching <p> that is the next sibling of matching <h4> */
h2 + p {
    color: #135589;
}

/* Child selector */
/* Selects all <h4> elements where the parent is a <section> element */
section > h2 {
    color: rgb(200, 20, 45);
}

/* Group of selectors */
/* Selects all <footer> elements and all <footer> elements */
section, footer {
    text-align: left;
}

/* :hover */
a:hover{
    background-color: #f7beef;
}

/* Star(*)
* {
    applies to all tags on the page
} 
*/

